.cards {
  width: 920px;
  display: grid;
  grid-template-columns: repeat(3, 240px);
  margin: 60px auto 100px auto;
  justify-content: center;
  grid-column-gap: 100px;
  grid-row-gap: 60px;
  list-style: none;
}