.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  transform: rotate(360deg);
  animation: rotation linear 20s infinite;
}